*{
    margin: 0;
    padding:0;
}
.sidenav{

    /* border: 1px solid red; */
    height: 2400px;
    width: 100%;
    display: flex;
    

}
.sidebar{
    position: fixed;
    background-color: rgb(255, 255, 255);
      width: 200px;
       height: 650px;
       z-index: 3;
    left:-250px ;
    transition: left 0.5s;

}
.opcity{
    z-index: 2;
    background-color: black;
    flex: 1;
    opacity: 0.5;
   
}

.noti{
    display: block;
    height: 40px;
    margin-top: 5px;
   
    background-color: rgba(195, 192, 192, 0.419);
    display: flex;
  }

 .one{
    
        background: url(https://images.livemint.com/static/ico-subscription.svg) no-repeat 0 0;
        margin-right: 10px;
        width: 20px;
        height: 20px;
    
 }

 .myreads{

    padding-left: 34px;
   
    background: url(https://images.livemint.com/dev/myreads.svg) no-repeat 0 0;
}
.epapertwo{
    background: url(https://images.livemint.com/static/epaper-icon.svg) no-repeat 0 2px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
 
 .gahnti{

    background: url(https://cdn-icons-png.flaticon.com/128/3602/3602145.png) no-repeat 0 2px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    /* background-image: url(https://cdn-icons-png.flaticon.com/128/3602/3602145.png) no-repeat 0 2px;
    width: 18px;
    height: 20px;
    float: left;
    margin-left: 19px; */
   
 }
 .newsletters{
    width: 19px;
    height: 18px;
    background: url(https://images.livemint.com/static/ico-newsletter.svg) no-repeat 0 6px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
 }
  
.same{
    margin-top:10px ;
}
.two{
    padding-top: 10px;
}